<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CourseMapper">
    <resultMap type="com.example.entity.Course" id="courseMap">
    <!-- resultMap：クエリの実行結果をJavaオブジェクトにどのようにセットするかを定義する -->
    <!-- type：このマップが対象とするJavaオブジェクトの型 -->
    <!-- id：要素の識別子 -->
        <id column="ID" property="id"/>
        <!-- id：マッピングするための一意キーとフィールドを定義する -->
        <!-- column：データベースのカラム -->
        <!-- property：データベースのカラムに対応するJavaオブジェクトのフィールド -->
        <result column="NAME" property="name"/>
        <!-- result：マッピングするキーとフィールドを定義する-->
    </resultMap>
    
    <!-- データ取得処理 -->
    <select id="findAll" resultMap="courseMap">
    <!-- select：SQLクエリ -->
    <!-- id： Mapperインターフェースのメソッド名（）-->
        SELECT * FROM COURSES
    </select>
    
    <!-- 新規登録処理 -->
    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
    <!-- 
        id="Mapperインターフェースのメソッド名"
        useGeneratedKeys="自動採番された値をEntityのフィールドに格納したい場合はtrue、そうでない場合はfalse"
        keyColumn="自動採番されるカラム名"
        keyProperty="格納されるEntityのフィールド名">
     -->
        INSERT INTO courses (id, name) VALUES (nextval('course_id_seq'), #{name})
        <!-- 
            INSERT INTO テーブル名 (カラム名) VALUES (#{クラスのフィールド名})
         -->
    </insert>
</mapper>